<%- include("header") -%>
  <h2>This is the about page</h2>
  <p>alshfdal; flkaljdsjhfa dslflja sfl;kakjdf;lka sdoihwonem,nfozx awkjsjfoawnxmvmcbashtapo njkvanoisd foawej</p>
<%- include("footer") -%>
